<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/onlylogoviva"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.VIVAPAINNoPainNoGain"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".SpecificGymDetailed"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AddGym"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".gym_detailed"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".graphC"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".globalAuthentication"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".userAuthentication"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".GymOwnerAuthentication"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".TricepsWorkout"
            android:exported="false" />
        <activity
            android:name=".BicepWorkout"
            android:exported="false" />
        <activity
            android:name=".AbsWorkout"
            android:exported="false" />
        <activity
            android:name=".LegsWorkout"
            android:exported="false" />
        <activity
            android:name=".ChestWorkout"
            android:exported="false" />
        <activity
            android:name=".Snacks3"
            android:exported="false" />
        <activity
            android:name=".Lunch"
            android:exported="false" />
        <activity
            android:name=".Dinner"
            android:exported="false" />
        <activity
            android:name=".Breakfast"
            android:exported="false" />
        <activity
            android:name=".ChangeData"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".StartLogoStart"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".Activities"
            android:exported="false" />
        <activity
            android:name=".Contact"
            android:exported="false" />
        <activity
            android:name=".About"
            android:exported="false" />
        <activity
            android:name=".Gym_Near_By"
            android:exported="false" />
        <activity
            android:name=".Food_Diet"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>